*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url('Images/Homebg.webp');
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 200px;
    margin-top: 5px;
    opacity: 1;
    transition: 0.5s;
}

nav:hover img{
    width: 200px;
    margin-top: 5px;
    opacity: 0.7;
}

.nav-link{
    flex: 1;
    text-align: right;
}

.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-link ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

.nav-link ul li::after{
    content:"";
    width: 0%;
    height: 2px;
    background-color: #e61d4c;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-link ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: center;
    left: center;
    margin-top: 20vh;
    padding: 5%;
    text-align: center;
}

.text-box h1{
    font-size: 3em;
}

.text-box p{
    font-size: 1.2em;
    color: white;
    margin: 10px 0 40px;
}

.main-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 15px 35px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.main-btn:hover{
    box-shadow: 0 0 20px 0 hsla(0, 0%, 0%, 0.5);
    border: 1px solid  #e61d4c;
    background:  #e61d4c;
    color: white;
    transition: 1s;
}

nav .fa{
    display: none;
    font-family: "Poppins", sans-serif;
    font-size: large;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 1.7em;
    }

    .nav-link ul li{
        display: block;
    }

    .nav-link{
        position: fixed;
        background-color: hsla(346, 80%, 51%, 0.95);
        height: 100vh;
        width: 60%;
        top: 0;
        right: -300px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa{
        display: block;
        color: white;
        margin: 30px 25px;
        font-size: 1.2em;
        cursor: pointer;
    }

    .nav-link ul{
        padding: 20px 40px;
    }


}


/*----courses----*/

.courses{
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 100px;
}

h1{
    font-size: 2em;
}

p{
    color:rgb(70, 70, 70);
    font-size: 1.2em;
    line-height: 1.6em;
    margin: 20px 0 20px;
}

.row{
    margin: 3%;
    display: flex;
    justify-content: space-between;
}

.courses-col{
    flex-basis: 31%;
    background-color: hsla(346, 80%, 51%, 0.15);
    border-radius: 10px;
    margin-bottom: 50px;
    padding: 20px 20px;
    box-sizing: border-box;
    transition: 0.7s;
}

h3{
    font-size: 1.5em;
    text-align: center;
    margin: 10px 0;
}

.courses-col hr{
    width: 0;
    border: none;
    margin: auto;
    background-color: white;
    height: 2px;
    opacity: 0;
    transition: 0.7s;
}

.courses-col:hover{
    box-shadow: 0 0 20px 0 hsla(0, 0%, 0%, 0.2);
}

.courses-col:hover hr{
    width: 100%;
    border: none;
    background-color: white;
    height: 2px;
    opacity: 0.9;
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*----campus----*/

.campusbg{
    margin-top: 100px;
    width: 100%;
    padding-bottom: 30px;
    background-image: linear-gradient(rgba(4, 14, 54, 0.85), rgba(4,14,54,0.9)), url(Images/campusbg.jpg);
    background-position: center;
    background-size: cover;
}

.campus{
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 100px;
    color: white;
}

.campus p{
    padding: 20px 0 30px;
    color: white;
    font-weight: 300;
    width: 80%;
    margin: auto;
}

.campus-col{
    flex-basis: 30%;
    border-radius: 15px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.campus-col img{
    width: 100%;
    display: block;
}

.layer{
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background-color: hsla(346, 80%, 51%, 0.8);
}

.layer h3{
    width: 100%;
    font-weight: 800;
    font-size: 3em;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer p{
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.8s;
}

.layer:hover h3{
    bottom: 50%;
    opacity: 1;
}

.layer:hover p{
    bottom: 24%;
    opacity: 1;
}

/*----Facilities----*/

.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.facilities-col{
    flex-basis: 31%;
    border-radius: 15px;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img{
    width: 100%;
    border-radius: 15px;
    transition: 0.5s;
}

.facilities-col:hover img{
    box-shadow: 0 0 20px 0 hsla(0, 0%, 0%, 0.5);
}

.facilities-col p{
    padding: 0;
}

.facilities-col h3{
    margin: 15px 0 15px;
    text-align: left;
}


/*----Testimonial----*/

.testimonialbg{
    margin-top: 50px;
    width: 100%;
    padding-bottom: 30px;
    background-image: linear-gradient(rgba(201, 24, 68, 0.85), rgba(4,14,54,0.9)), url(Images/sport.jpg);
    background-position: center;
    background-size: cover;
}

.testimonial{
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 100px;
    color: white;
}

.testimonial p{
    color: white;
    font-weight: 300;
    line-height: 1.5em;
}

.testimonial h3{
    color: white;
    text-align: left;
}

.testimonial-col {
    flex-basis: 44%;
    border-radius: 15px;
    margin-bottom: 5%;
    text-align: left;
    background-color:hsla(346, 80%, 51%, 0.75);
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.testimonial-col img{
    height: 80px;
    width: 80px;
    margin: 10px 20px 10px 10px;
    border-radius: 50%;
    border: 4px solid rgb(255, 255, 255);
}

.testimonial-col .fa{
    font-size: 24px;
    letter-spacing: 0.5em;
    color: yellow;
    margin-bottom: 10px;
}

@media(max-width: 700px){
    .testimonial-col img{
        margin: 0px 15px 0px 0px;
    }
    .testimonial-col p{
        font-size: 16px;
    }
}

/*----CTA----*/

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(39, 27, 83, 0.9), rgba(4,14,54,0.7)), url(Images/campus.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    text-align: center;
    padding: 100px 0;
    transition: 0.7s;
}

.cta:hover{
    box-shadow: 0 0 20px 0 rgba(4,14,54,0.7);
}

.cta h1{
    color: white;
    font-size: 2.5em;
    margin-bottom: 40px;
    padding: 0;
    transition: 0.7s;
}

.cta:hover h1{
    color: rgb(255, 238, 4);
}

@media(max-width: 700px){
    .cta h1{
        width: 80%;
        margin: auto;
        padding-bottom: 30px;
        font-size: 2em;
    }
}

/*----footer----*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h3{
    margin: 25px 0 25px;  
}

.icon .fa {
    padding: 0 10px;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    color: #585858;
    transition: 0.5s;
 }

 .fa:hover {
    color: rgb(201, 201, 201);
 }


 /*----about us page----*/

 .sub-header{
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.8), rgba(4,9,30,0.9)), url(Images/pagebg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.sub-header h1{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 80px;
    color: white;
    font-size: 3em;
}

.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 25px;
}

img{
    width: 100%;
    margin: auto;
}

#sub-article{
    margin-top: -100px;
}

.about-col{
    flex-basis: 48%;
    padding: 25px 0;
}

.about-col h1{
    padding: 0;
    font-size: 2em;
    color: #e61d4c;
}

.about-col p{
    text-align: left;
    line-height: 1.5em;
    margin-top: 15px;
}

.about-col img{
    width: 100%;
    border-radius: 15px;
}

.red-btn{
    background-color: transparent;
    border: 1px solid #e61d4c;
    color: #e61d4c;
    margin-top: 25px;
}

/*----blog content----*/

.blog-content{
    width: 80%;
    margin: auto;
    padding: 50px 0;
}

.blog-left{
    flex-basis: 65%;
}

.blog-left img{
    width: 100%;
    border-radius: 15px;
}

.blog-left h2{
    margin: 25px 0 15px;
}

.blog-right{
    flex-basis: 32%;
}

.blog-right h3{
    color: white;
    background-color: #e61d4c;
    padding: 7px 0;
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 15px;
}

.blog-right div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #303030;
    border-bottom: 1px dashed #f16283;
    padding: 8px;
    box-sizing: border-box;
}

.comment-box{
    border: 1px solid #f16283;
    margin: 50px 0;
    padding: 10px 20px;
}

.comment-box h3{
    text-align: left;
}

.comment-form input, .comment-form textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: 0.5px solid #dadada;
    border-radius: 5px;
    outline: none;
    background-color: #f4f4f4;
}

.comment-form button{
    margin: 5px 0 15px 0;
}

@media(max-width: 700px){
    .sub-header h1{
        font-size: 2em;
    }
}

/*----Contact Us----*/

.location{
    width: 80%;
    margin: auto;
    padding: 50px 0;
}

.location iframe{
    width: 100%;
    border-radius: 15px;
}

.contact-us{
    width: 80%;
    margin: auto;
}

.contact-col{
    flex-basis: 48%;
    margin-bottom: 25px;
}

.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact-col div .fa{
    font-size: 36px;
    color: #e61d4c;
    margin: 10px;
    margin-right: 30px;
}

.contact-col div p{
    padding: 0;
    margin: 0;
    font-weight: 200;
    font-size: large;
}

.contact-col div h5{
    font-size: 1.7em;
    font-weight: 500;
    color: #424242;
}

.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 0.5px solid #dadada;
    outline: none;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.contact-col button{
    margin: 5px 0 15px 0;
}